{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO-List</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <main>
        <ul>
            {% for todo in todolist %}
            <li>
                <article class="card">
                    <h2>{{todo.name}}</h2>
                    <p>{{todo.description}}</p>
                    <div class="date">Published: {{todo.date}}</div>
                    <button class="delete-btn" aria-label="Delete todo item">×</button>
                </article>
            </li>
            {% endfor %}
        </ul>
        <a href="#" class="floating-btn" aria-label="Add item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>    
    </main>
    
</body>
</html>